@model IEnumerable<MoneyResponse>

@{
    ViewBag.Title = "GetRecords";
}

<div class="container">
    <h2 class="text-green">Записи</h2>

    <div class="card-list">
        @foreach (var record in Model)
        {
            <div class="card">
                <div class="card-content">
                    <p><strong>Адреса клієнта:</strong> @record.ClientAddress</p>
                    <p><strong>Заробіток за годину:</strong> @record.Money.ToString("C", new System.Globalization.CultureInfo("pl-PL"))</p>
                    <p><strong>Тривалість Роботи:</strong> @record.WorkDuration</p>
                    <p><strong>Комісія за годину роботи:</strong> @(record.Сommission.HasValue ?
                        record.Сommission.Value.ToString("C", new System.Globalization.CultureInfo("pl-PL")) : "N/A")</p>
                    <p><strong>Дата:</strong> @record.Date.ToString("dd-MM-yyyy")</p>
                </div>
                <div class="card-actions">
                    <a asp-controller="Home" asp-action="Edit" asp-route-moneyId="@record.Id" class="edit-btn">Змінити</a>
                    @* /Home/Edit/1 *@
                    <a asp-controller="Home" asp-action="Delete" asp-route-moneyId="@record.Id" class="delete-btn">Видалити</a>
                    @* /Home/Delete/1 *@
                </div>
            </div>
        }
    </div>
</div>
